/* base rules for highly contrasted desktop items */

.baul-desktop.baul-canvas-item {
  text-shadow: none;
}

.baul-desktop.baul-canvas-item {
  color: @theme_fg_color;
  background: @theme_bg_color;
}

.baul-desktop.baul-canvas-item:selected {
  color: @theme_selected_fg_color;
  background: @theme_selected_bg_color;
}
.baul-desktop.baul-canvas-item:selected:backdrop {
  background: mix(@theme_selected_bg_color, @theme_selected_fg_color, 0.3);
}
